.heading {
    width: 100%;
    margin: 0px;
    color: white;
    box-shadow:5px 5px 5px grey;
    font-size: 23px;
}
.note{
    font-size: 15px;
    color: black;

}
.copyright_footer{
    bottom: 0;
    position: fixed;
    background-color: grey;
    color: black;
    line-height: 3;
    text-align: center;
    width: 100%;
}
canvas{
    border: 5px solid rgba(0, 245, 225, 0.883);
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}